.drone-mur-de-galet-1-icon {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  position: absolute;
  left: 176px;
  top: 0;
  transform: scale(1.903);
}
.wrapper-drone-mur-de-galet-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.parent-frame,
.parent-frame-child,
.wrapper-drone-mur-de-galet-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parent-frame-child {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.parent-frame {
  margin: 0 !important;
}
.mercredi-29-septembre {
  position: relative;
  display: inline-block;
  z-index: 2;
}
.mercredi-29-septembre {
  height: 34px;
  flex-shrink: 0;
}
.frame-child {
  position: absolute;
  top: 23px;
  left: 5px;
  border-radius: 5px;
  background-color: transparent;
  width: 38px;
  height: 38px;
  z-index: 3;
}

.mercredi-29-septembre-2024-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-mid);
  gap: 17px 0;
}
.frame-item {
  width: 315px;
  height: 144px;
  position: relative;
  background-color: var(--color-gray-100);
  display: none;
}
.coefficient-90-container {
  align-self: stretch;
  height: 28px;
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.heure-mare-haute-container {
  height: 30px;
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 3;
}
.heure-mare-haute-15h32-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
}
.heure-mare-basse-container {
  height: 30px;
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 3;
}
.heure-mare-basse-9h24-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
}
.frame-inner,
.rectangle-parent {
  background-color: var(--color-gray-100);
}
.rectangle-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-19xl) var(--padding-sm)
    var(--padding-23xl);
  gap: 14px 0;
  z-index: 2;
}
.frame-inner {
  width: 315px;
  height: 144px;
  position: relative;
  display: none;
}
.coefficient-90-container1 {
  align-self: stretch;
  height: 28px;
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.heure-mare-haute-container1 {
  height: 30px;
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 3;
}
.heure-mare-haute-15h32-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
}
.heure-mare-basse-container1 {
  height: 30px;
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 3;
}
.heure-mare-basse-9h24-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
}
.rectangle-group {
  align-self: stretch;
  background-color: var(--color-gray-100);
  align-items: center;
  padding: var(--padding-sm) var(--padding-19xl) var(--padding-sm)
    var(--padding-23xl);
  gap: 14px 0;
  z-index: 2;
}
.coefficient-frames,
.iphone-13-14-1,
.rectangle-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.coefficient-frames {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 18px 0 var(--padding-mid);
  gap: 37px 0;
  text-align: left;
  font-size: var(--font-size-base);
}
.iphone-13-14-1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  align-items: center;
  padding: 121px 20px 196px;
  box-sizing: border-box;
  gap: 90px 0;
  text-align: center;
  font-size: 22px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
